@font-face {
    font-family: 'Gilroy-bold';
    src: url('../fonts/Gilroy.ttf') format('ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Gilroy-semiBold';
    src: url('../fonts/Gilroy.ttf') format('ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Gilroy-medium';
    src: url('../fonts/Gilroy.ttf') format('ttf');
    font-weight: 500;
}

:root {
  --cor-primary: rgba(0, 160, 0, 1);
  --cor-white: rgba(255, 255, 255, 1);
  --cor-black: rgba(0, 0, 1, 1);
  --cor-grey: rgba(0, 0, 0, 1);
  --cor-grey2: rgba(153, 153, 153, 1);
  --cor-BGOverlay: rgba(250, 250, 250, 1);
}


body {
    width: 100%;
    font-family: 'Gilroy', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 49px 100px;
    background-color: aqua;
}

header>img {
    width: 141px;
    height: 33px;
}

header>nav {
    display: flex;
    justify-content: space-around;
    gap: 40px;
}

header>nav>a {
    /* font-family: 'Gilroy-medium'; */
    font-size: 16px;
    color: rgba(0, 0, 1, 1);
    cursor: pointer;
}

nav> a:hover{
    color: rgba(0, 160, 0, 1);
}

header>.space-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.space-navigation>.space-icons {
    display: flex;
    gap: 14px;
}

.space-navigation>.space-icons>a>.fa-solid {
    color: rgba(0, 0, 1, 1);
    font-size: 24px;
}

.space-navigation>button {
    color: rgba(0, 160, 0, 1);
    font-size: 16px;
    border: solid rgba(0, 160, 0, 1);
    border-radius: 10px;
    padding: 16px 32px 16px 32px;
    cursor: pointer;
}

/* ---------------------------start-hero----------------------------------- */

main>.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 124px;
    margin-top: 100px;
    margin-left: 100px
}

.hero> .hero-content{
    width: 583px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hero-content> h1{
    /* font-family: 'Gilroy-medium'; */
    font-size: 60px;
    color: rgba(0, 0, 1, 1);
    padding-bottom: 32px;
}

.hero-content> h1> span{
    color: rgba(0, 160, 0, 1);
}

.hero-content> p {
    width: 503px;
    font-size: 18px;
    text-align:justify; 
    color: rgba(0, 0, 1, 1);
    padding-bottom: 32px;
}

.hero-content> .space-btn{
    display: flex;
    gap: 24px;
}

.space-btn> button{
    font-size: 16px;
    padding: 16px 32px 16px 32px;
    border: solid rgba(0, 160, 0, 1);
    border-radius: 10px;
    cursor: pointer;
}

.space-btn> .Order{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 160, 0, 1);
}

/* ---------------------------finish-hero----------------------------------- */

main> .Why-Choose-Us{
    margin-top: 102px;
    padding: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--cor-BGOverlay);
}

.Why-Choose-Us> h2{
    font-size: 48px;
    color: var(--cor-black);
    padding-bottom: 7px;
}

.Why-Choose-Us> p{
    font-size: 18px;
    color: var(--cor-grey2);
}

.Why-Choose-Us> .reasons{
    padding-top: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.card-reason{
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.reasons> .card-reason> img{
    width: 216px;
    height: 216px;
    padding-bottom: 40px;
}

.card-reason> h3{
    color: var(--cor-black);
    font-size: 28px;
    padding-bottom: 8px;
}

.card-reason> p{
    width: 275px;
    font-size: 18px;
    text-align: center;
}

.status{
    padding-top: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.status> .card-status{
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.card-status> h3{
    font-size: 48px;
    color: var(--cor-black);
}

.special-dishes{
    margin-top: 60px;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.special-dishes> h2{
    font-size: 48px;
    color: var(--cor-black);
    padding-bottom: 60px;
}

.special-dishes> .space-food{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.space-food> .card-food> img{
    width: 250px;
    height: 242px;
}

.space-food> .card-food{
    width: 400px;
    height: 483px;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-food> h3{
    font-size: 28px;
    color: var(--cor-black);
    padding-bottom: 16px;
}

.card-food> p{
    width: 279px;
    color: var(--cor-black);
    padding-bottom: 16px;
    font-size: 18px;
    text-align: center;
}

.card-food> button{
    width: 100%;
    padding: 16px 32px 16px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: var(--cor-white);
    text-align: center;
    background-color: var(--cor-primary);
    cursor: pointer;
    border-radius: 8px;
    border: none;
}

.What-our-clients{
    padding: 100px 112px 100px 112px;
    background-color: var(--cor-BGOverlay);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.What-our-clients> h2{
    font-size: 28px;
    color: var(--cor-black);
}

.What-our-clients> .space-clients{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 21px;
}

.card-clients{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
    background-color: var(--cor-white);
    border-radius: 16px;
    padding: 40px 40px 82px 40px;
}

.card-clients> img{
    width: 100px;
    height: 100px;
    padding-bottom: 24px;
}

.card-clients> h3{
    font-size: 28px;
    color: var(--cor-black);
    padding-bottom: 16px;
}

 .card-clients > p{
    width: 319px;
    font-size: 18px;
    color: var(--cor-black);
    text-align: center;
}











